html {
  font-size: 62.5%; }

/*********************************/
body {
  background: #f9f8f6; }

header #header {
  padding-top: 10px; }
header #logo {
  padding-top: 10px; }
header #menu_icon {
  cursor: pointer;
  padding-left: 130px; }
  @media (min-width: 550px) {
    header #menu_icon {
      display: none; } }
header #fb_icon {
  padding-left: 20px; }
header #insta_icon {
  padding: 0px; }
header .menu_li_sp {
  position: absolute;
  top: 40px;
  right: 0%;
  background: white;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  z-index: 100;
  display: none; }
  header .menu_li_sp li {
    list-style: none;
    margin: 0;
    padding: 0; }
    header .menu_li_sp li a {
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #eee; }
@media (min-width: 550px) {
  header .menu_li_sp {
    display: none; }
  header .menu_li_pc {
    display: inline-block;
    margin: 0;
    padding-left: 400px;
    padding-bottom: 20px; }
    header .menu_li_pc li {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding-left: 10px; }
  header #fb_icon {
    padding-right: 10px; }
  header #insta_icon {
    padding-right: 10px; } }
@media (max-width: 550px) {
  header .menu_li_pc {
    display: none; } }

#search {
  border: 2px solid #b0b0b0; }
  @media (max-width: 550px) {
    #search {
      display: inline-block; } }
  #search .search_img {
    margin-top: 10px;
    margin-left: 10px; }
    @media (max-width: 550px) {
      #search .search_img {
        display: inline-block;
        margin-top: 10px; } }
  #search form {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0; }
    @media (max-width: 550px) {
      #search form {
        display: inline-block; } }
    #search form .search_form input {
      width: 180px;
      margin-left: 10px;
      padding: 10px;
      background-color: white;
      background-image: url("../images/top/search_icon.png");
      background-repeat: no-repeat;
      background-position: 150px 10px;
      border: 1px solid #b0b0b0; }
      @media (max-width: 550px) {
        #search form .search_form input {
          width: 200px;
          display: inline-block;
          margin-top: 10px;
          margin-right: 10px;
          background-position: 170px 10px; } }

#pagelink {
  margin-top: 10px;
  border: 2px solid #b0b0b0;
  background-color: #887f69;
  background-image: url("../images/top/next_icon.png");
  background-position: 300px 12px;
  background-repeat: no-repeat; }
  @media (min-width: 550px) {
    #pagelink {
      background-position: 180px 12px; } }
  #pagelink .pagelink_img {
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 8px; }

#categories {
  margin-top: 10px; }
  #categories .categories_img {
    border: 2px solid #b0b0b0;
    background-color: #887f69;
    background-image: url("../images/top/down_icon.png");
    background-position: 295px 20px;
    background-repeat: no-repeat;
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 8px; }
    @media (min-width: 550px) {
      #categories .categories_img {
        background-position: 175px 20px; } }
  #categories .categories_li {
    padding-top: 10px; }
    #categories .categories_li li {
      list-style: none;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid #eee;
      background-color: white;
      background-image: url("../images/top/next_icon_gray.png");
      background-position: 300px 12px;
      background-repeat: no-repeat; }
      @media (min-width: 550px) {
        #categories .categories_li li {
          background-position: 180px 12px; } }
      #categories .categories_li li a {
        color: black;
        text-decoration: none; }

#about {
  margin-top: 10px;
  margin-bottom: 10px; }
  #about .about_img {
    height: 30px;
    border: 2px solid #b0b0b0;
    background-color: #887f69;
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 8px;
    margin-bottom: 10px; }
  @media (max-width: 550px) {
    #about .image {
      width: 48%;
      float: left; } }
  #about .about_p {
    padding-bottom: 0;
    margin-bottom: 5px; }
    @media (max-width: 550px) {
      #about .about_p {
        width: 48%;
        float: right; } }

#shopinfo {
  margin-top: 10px;
  margin-bottom: 10px; }
  #shopinfo .shopinfo_img {
    height: 30px;
    border: 2px solid #b0b0b0;
    background-color: #887f69;
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 8px;
    margin-bottom: 10px; }
  @media (max-width: 550px) {
    #shopinfo .image {
      width: 48%;
      float: left; } }
  #shopinfo .shopinfo_p {
    margin-bottom: 0;
    padding-bottom: 5px; }
    @media (max-width: 550px) {
      #shopinfo .shopinfo_p {
        width: 48%;
        float: right; } }

#new_items {
  margin-top: 20px; }
  #new_items .line {
    width: 100%; }
  #new_items .newitems_li {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    padding: 0; }
    #new_items .newitems_li li {
      width: 32.9%;
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0; }
      @media (max-width: 550px) {
        #new_items .newitems_li li {
          width: 45%; } }
      #new_items .newitems_li li p {
        width: 90%; }
      #new_items .newitems_li li img {
        width: 90%;
        height: 200px; }
        @media (max-width: 550px) {
          #new_items .newitems_li li img {
            width: 90%;
            height: 120px; } }

#popular_items {
  margin-top: 20px;
  margin-bottom: 20px; }
  #popular_items .line {
    width: 100%; }
  #popular_items .popularitems_li {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    padding: 0; }
    #popular_items .popularitems_li li {
      width: 32.9%;
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0; }
      @media (max-width: 550px) {
        #popular_items .popularitems_li li {
          width: 45%; } }
      #popular_items .popularitems_li li p {
        width: 90%; }
      #popular_items .popularitems_li li img {
        width: 90%;
        height: 200px; }
        @media (max-width: 550px) {
          #popular_items .popularitems_li li img {
            width: 90%;
            height: 120px; } }

#extra {
  width: 100%; }
  #extra .otodoke {
    float: left;
    width: 90%;
    height: 300px;
    display: inline-block;
    border: 2px solid #b0b0b0;
    margin: 10px;
    padding: 0; }
    @media (min-width: 550px) {
      #extra .otodoke {
        width: 43%;
        margin: 10px;
        padding: 10px; } }
    #extra .otodoke h1 {
      font-size: 20px;
      font-size: 2rem; }
    #extra .otodoke h2 {
      font-size: 15px;
      font-size: 1.5rem; }
  #extra .kessai {
    float: left;
    width: 90%;
    height: 300px;
    display: inline-block;
    border: 2px solid #b0b0b0;
    margin: 10px;
    padding-bottom: 20px; }
    @media (min-width: 550px) {
      #extra .kessai {
        width: 43%;
        margin: 10px;
        padding: 10px; } }
    #extra .kessai h1 {
      font-size: 20px;
      font-size: 2rem; }
    #extra .kessai h2 {
      font-size: 15px;
      font-size: 1.5rem; }

footer {
  clear: both;
  margin-top: 50px; }
  footer .pagetop_img {
    margin-left: 120px; }
    @media (min-width: 550px) {
      footer .pagetop_img {
        float: right; } }
  footer p {
    text-align: center;
    font-size: 10px;
    font-size: 1rem; }
    @media (min-width: 550px) {
      footer p {
        font-size: 15px;
        font-size: 1.5rem; } }
    footer p a {
      color: black;
      text-decoration: none; }

#categorie_cover {
  height: 170px;
  background-image: url("../images/list/cate_image_sp.jpg");
  background-repeat: no-repeat;
  background-position: 0px 50px;
  background-size: cover;
  margin-bottom: 20px; }
  @media (min-width: 550px) {
    #categorie_cover {
      height: 250px;
      background-image: url("../images/list/cate_image.jpg");
      margin-bottom: 50px; } }

#list {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  padding: 0;
  margin: 0; }
  #list h2 {
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 10px; }
  #list hr {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px; }
  #list li {
    width: 30%;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: 5px; }
    @media (max-width: 550px) {
      #list li {
        width: 90%; }
        #list li p {
          width: 90%; } }
    #list li img {
      width: 90%;
      height: 200px; }
      @media (max-width: 550px) {
        #list li img {
          height: 250px; } }

#products h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  font-size: 3rem; }
#products h5 {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0; }
#products .productlist .mainimage {
  width: 70%;
  height: 500px;
  display: inline-block;
  float: left; }
  #products .productlist .mainimage img {
    width: 100%;
    height: 500px; }
  @media (max-width: 550px) {
    #products .productlist .mainimage {
      width: 100%;
      height: 350px; }
      #products .productlist .mainimage img {
        width: 100%;
        height: 350px; } }
#products .productlist .pro_list {
  list-style: none; }
  #products .productlist .pro_list li {
    cursor: pointer; }
  #products .productlist .pro_list img {
    float: right;
    width: 10%;
    height: 80px;
    margin: 10px; }
    @media (max-width: 550px) {
      #products .productlist .pro_list img {
        width: 15%;
        height: 50px;
        margin: 8px;
        float: left; } }
#products .clear {
  clear: both; }
#products .pro_color img {
  display: inline-block;
  float: left;
  margin-top: 40px;
  margin-left: 50px; }
  @media (max-width: 550px) {
    #products .pro_color img {
      display: block;
      margin-left: 10px;
      margin-bottom: 30px;
      margin-top: 0; } }
#products .pro_color table {
  width: 70%;
  display: inline-block;
  float: right; }
  @media (max-width: 550px) {
    #products .pro_color table {
      display: block;
      float: left; } }
#products .pro_color td {
  border: solid 1px;
  padding-left: 50px;
  padding-right: 50px; }
  @media (max-width: 550px) {
    #products .pro_color td {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0;
      padding-bottom: 0; } }
#products .pro_ex {
  margin-top: 40px; }
  @media (max-width: 550px) {
    #products .pro_ex {
      margin-bottom: 50px; } }
  #products .pro_ex .price {
    float: left;
    margin-top: 20px;
    display: inline-block; }
    @media (max-width: 550px) {
      #products .pro_ex .price {
        margin-top: 10px;
        margin-left: 10px; } }
  #products .pro_ex .price_a {
    display: inline-block;
    margin-left: 60px; }
    @media (max-width: 550px) {
      #products .pro_ex .price_a {
        font-size: 20px;
        font-size: 2rem; } }
  @media (max-width: 550px) {
    #products .pro_ex .hr1 {
      padding-bottom: 50px; } }
  @media (max-width: 550px) {
    #products .pro_ex .hr2 {
      padding-top: 0;
      margin-top: 0; } }
  #products .pro_ex .add_to_cart {
    width: 50%;
    height: 80px;
    display: inline-block;
    float: right; }
    @media (max-width: 550px) {
      #products .pro_ex .add_to_cart {
        height: 50px;
        position: relative;
        top: 180px;
        float: left;
        margin-left: 80px; } }
  #products .pro_ex .price_b {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 0;
    padding-bottom: 0; }
  #products .pro_ex input {
    width: 200px; }
  #products .pro_ex a {
    margin-top: 0;
    margin-right: 10px;
    color: black;
    text-decoration: none; }
#products .pro_setsumei {
  margin-top: 50px; }
  #products .pro_setsumei h6 {
    font-weight: bold; }
  #products .pro_setsumei td {
    border: solid 1px;
    padding-right: 50px;
    padding-left: 50px; }
    @media (max-width: 550px) {
      #products .pro_setsumei td {
        padding-right: 10px;
        padding-left: 10px; } }
#products .kanren .kanren_list li {
  width: 30%;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding-left: 5px; }
  @media (max-width: 550px) {
    #products .kanren .kanren_list li {
      width: 90%; }
      #products .kanren .kanren_list li p {
        width: 90%; } }
  #products .kanren .kanren_list li img {
    width: 90%;
    height: 200px; }
    @media (max-width: 550px) {
      #products .kanren .kanren_list li img {
        height: 250px; } }

/*# sourceMappingURL=sample.css.map */
