@charset "utf-8";

html {
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10){
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$basecolor : #f9f8f6;
$brown1 : #887f69;
$brown2 : #e2ddd4;
$gray : #b0b0b0;
$red : #9d1a2d;

/*********************************/

body {
    background: $basecolor;
}

header {

    #header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #logo {
        padding-top: 10px;
        margin-bottom: 10px;
        width: 70%;
        @media (max-width: 550px){
            margin: auto;
            display: block;
            width: 150px;
        }
    }

    .menu_li_sp {
        position: absolute;
        top: 130px;
        right: 0;
        background: white;
        border: 1px solid #eee;
        margin: 0;
        padding: 0;
        z-index: 100;
        display: none;
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                display: block;
                padding: 10px 8px;
                border-bottom: 1px solid #eee;
            }
        }
    }
    
    #icon_list {
        padding-top: 35px;
        float: right;
        @media (max-width: 550px){
            display: none;
        }
    }

    #icon_list_sp {
        width: 80px;
        margin: auto;
        padding-top: 15px;
        @media (min-width: 550px){
            display: none;
        }
    }


    #menu_icon {
        cursor: pointer;
        @media (min-width: 550px){
            display: none;
        }
    }

    @media (min-width: 550px){
        .menu_li_sp {
            display: none;
        }
        .menu_li_pc {
            display: inline-block;
            margin: 0;
            padding-top: 35px;
            padding-bottom: 20px;
            float: right;
            li {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding-left: 15px;
            }
        }
        #fb_icon {
            float: right;
            width: 30%;
            padding-left: 10px;
        }
        #insta_icon {
            float: right;
            width: 30%;
            padding-left: 10px;
        }
    }
    
    @media (max-width: 550px){
        .menu_li_pc {
            display: none;
        }
    }
}

#search {
    background-color: white;
    padding: 5px;
    .search_img {
        margin-top: 15px;
        margin-left: 15px;
        @media (max-width: 550px){
            display: none;
        }
    }
    form {
        margin-top: 3px;
        margin-left: 10px;
        margin-bottom: 0;
        padding: 0;
        .search_form {
            input {
                width: 90%;
                height: 30px;
                margin-left: 2px;
                padding: 10px;
                background-color: #eeeeee;
                background-image: url("../images/top/search_icon.png");
                background-repeat: no-repeat;
                background-position: 92% 8px;
                border: 0;
                border-radius: 0;
                font-style: oblique;
                @include fontsize(12);
                color: #d9d9d9;
                @media (max-width: 550px){
                    width: 90%;
                    height: 40px;
                    margin-top: 15px;
                    margin-left: 8px;
                    background-position: 92% 12px;
                }
            }
        }
    }
}

#pagelink {
    margin-top: 10px;
    padding-top: 5px;
    height: 40px;
    background-color: $brown1;
    background-image: url("../images/top/next_icon.png");
    background-position: 95% 17px;
    background-repeat: no-repeat;

    .pagelink_img {
        padding-top: 12px;
        padding-left: 20px;
        padding-bottom: 8px;
    }
}

#categories {
    margin-top: 10px;
    .categories_img {
        height: 25px;
        background-color: $brown1;
        background-image: url("../images/top/down_icon.png");
        background-position: 95% 17px;
        background-repeat: no-repeat;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 8px;
    }
    .categories_li {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        li {
            list-style: none;
            padding-left: 10px;
            padding-top: 11px;
            padding-bottom: 11px;
            margin-top: 0;
            margin-bottom: 1px;
            background-color: white;
            background-image: url("../images/top/next_icon_gray.png");
            background-position: 95% 17px;
            background-repeat: no-repeat;
            a {
                color: black;
                text-decoration: none;
                @include fontsize(12)
            }
        }
    }
}

#about {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    .about_img {
        height: 27px;
        background-color: $brown1;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 8px;
        margin-bottom: 10px;
    }
    .image {
        margin-left: 10px;
        img {
            width: 94%;
            @media (max-width: 550px){
                width: 50%;
                float: left;
            }
        }
    }
    .about_p {
        width: 90%;
        margin-left: 10px;
        padding-bottom: 0;
        margin-bottom: 5px;
        @include fontsize(12);
        @media (max-width: 550px){
            width: 40%;
            @include fontsize(13);
            margin-right: 10px;
            float: right;
        }
    }
    .more {
        margin-left: 25%;
        margin-top: 10px;
        margin-bottom: 10px;
        @media (max-width: 550px){
            margin-left: 60%;
            margin-top: 5px;
        }
    }
}

#shopinfo {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    .shopinfo_img {
        height: 30px;
        background-color: $brown1;
        padding-top: 12px;
        padding-left: 20px;
        padding-bottom: 8px;
        margin-bottom: 10px;
    }
   .image{
       margin-left: 10px;
       img {
           width: 94%;
            @media (max-width: 550px){
                width: 50%;
                float: left;
            }
        }
    }
    .shopinfo_p {
        width: 90%;
        margin-left: 10px;
        margin-bottom: 0;
        padding-bottom: 5px;
        @include fontsize(12);
        @media (max-width: 550px){
            width: 40%;
            @include fontsize(13);
            float: right;
            margin-right: 10px;

        }
    }
    .more {
        margin-left: 25%;
        margin-top: 10px;
        margin-bottom: 10px;
        @media (max-width: 550px){
            margin-left: 60%;
            margin-top: 5px;
        }
    }
}

#new_items {
    width: 100%;
    margin-top: 20px;
    @media (max-width: 550px){
        margin-top: 0;
    }
    .line {
        width: 100%;
        @media (max-width: 550px){
            display: none;
        }
    }
    .linea {
        width: 30%;
        margin-top: 0;
        margin-left: 100px;
        @media (min-width: 550px){
            display: none;
        }
    }
    .newitems_li {
        width: 100%;
        display: inline-block;
        margin-top: 10px;
        margin-left: 0;
        li {
            width: 30.8%;
            display: inline-block;
            list-style: none;
            padding-top: 10px;
            padding-left: 15px;
            padding-bottom: 10px;
            margin: 4px 0 0 0;
            background-color: white;
            @media (max-width: 550px){
                width: 47.5%;
                margin-bottom: 1px;
                padding-top: 5px;
                padding-left: 4px;
                padding-bottom: 0;
            }
            p {
                width: 90%;
                @include fontsize(11);
                margin: 0;
                padding-bottom: 10px;
            }
            img {
                width: 95%;
                @media (max-width: 550px){
                    width: 98%;
                }
            }
        }
    }
}

#popular_items {
    margin-top: 20px;
    margin-bottom: 20px;
    .line {
        width: 100%;
        margin-bottom: 20px;
        @media (max-width: 550px){
            display: none;
        }
    }
    .linea {
        width: 40%;
        margin-left: 100px;
        @media (min-width: 550px){
            display: none;
        }
    }
    .popularitems_li {
        width: 100%;
        display: inline-block;
        margin-top: 10px;
        margin-left: 0;
        li {
            width: 30.8%;
            display: inline-block;
            list-style: none;
            padding-top: 10px;
            padding-left: 15px;
            padding-bottom: 10px;
            margin: 4px 0 0 0;
            background-color: white;
            @media (max-width: 550px){
                width: 47.5%;
                margin-bottom: 1px;
                padding-top: 5px;
                padding-left: 4px;
                padding-bottom: 0;
            }
            p {
                width: 90%;
                @include fontsize(12);
                margin: 0;
                padding-bottom: 10px;
            }
            img {
                width: 95%;
                @media (max-width: 550px){
                    width: 98%;
                }
            }
        }
    }
}

#extra {
    width: 100%;
    .line {
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
        @media (max-width: 550px){
            display: none;
        }
    }
    .linea {
        width: 50%;
        margin-left: 80px;
        margin-bottom: 10px;
        @media (min-width: 550px){
            display: none;
        }
    }
    .otodoke {
        padding: 10px;
        box-sizing: border-box;
        height: 270px;
        background-color: white;
        h1 {
            color: $brown1;
            font-weight: bold;
            margin: 0;
            padding: 10px;
            @include fontsize(18);
        }
        h2 {
            color: $brown1;
            font-weight: bold;
            margin: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            @include fontsize(15);
        }
        p {
            padding-top: 0;
            padding-bottom: 20px;
            padding-left: 10px;
            margin: 0;
            @include fontsize(12);
        }
        img {
            padding-left: 10px;
            width: 50%;
            margin-top: 5px;
        }
        @media (min-width: 550px){
            width: 46.5%;
            height: 250px;
            margin: 0 2px 0 0;
            padding: 10px;
            display: inline-block;
        }
    }
    .kessai {
        padding: 10px;
        box-sizing: border-box;
        height: 270px;
        background-color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        h1 {
            color: $brown1;
            font-weight: bold;
            margin: 0;
            padding: 10px;
            @include fontsize(16);
        }
        h2 {
            color: $brown1;
            font-weight: bold;
            margin: 0;
            padding-left: 10px;
        }
        p {
            margin: 0;
            padding-top: 5px;
            padding-bottom: 10px;
            padding-left: 10px;
            @include fontsize(12);
        }
        .cards {
            width: 90%;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 10px;
        }
        @media (min-width: 550px){
            width: 46.5%;
            height: 250px;
            margin-left: 3px;
            margin-top: 0;
            margin-bottom: 0;
            padding: 10px;
            display: inline-block;
        }
        h1 {
            @include fontsize(20);
        }
        h2 {
            @include fontsize(15);
        }
    }
}

footer {
    clear: both;
    margin-top: 50px;
    color: $brown1;
    .pagetop_img {
        margin-left: 120px;
        @media (min-width: 550px){
            float: right;
        }
    }
    .footer_hr {
        height: 1px;
        background-color: $brown1;
        border: none;
    }
    p {
        text-align: center;
        @include fontsize(14);
        @media (min-width: 550px){
            @include fontsize(12);
        }
        a {
            color: black;
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .copyright {
        color: #c8c5be;
        @include fontsize(12);
    }
}

.pan {
    border: 0;
    border-radius: 2px;
    background-color: #e8e4da;
    color: $gray;
    background-image: url("../images/list/home_icon.png");
    background-repeat: no-repeat;
    background-position: 15px 12px;
    padding: 5px 5px 5px 30px;
    margin: 0;
    a {
        text-decoration: none;
        color: $brown1;
        margin-right: 5px;
        margin-left: 5px;
        @include fontsize(12);
    }
}

.cover {
    margin-top: 10px;
    .coverpc {
        width: 100%;
        @media (max-width: 550px){
            display: none;
        }
    }
    .coversp {
        width: 100%;
        @media (min-width: 550px){
            display: none;
        }
    }
}


#list {
        width: 100%;
        display: inline-block;
        margin-top: 0;
        margin-left: 0;
        li {
            width: 31.5%;
            display: inline-block;
            list-style: none;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
            margin: 4px 0 0 0;
            background-color: white;
            @media (max-width: 550px){
                width: 47.5%;
                margin-bottom: 1px;
                padding-top: 5px;
                padding-left: 4px;
                padding-bottom: 0;
            }
            p {
                width: 90%;
                @include fontsize(12);
                margin: 0;
                padding-bottom: 10px;
            }
            img {
                width: 95%;
                @media (max-width: 550px){
                    width: 98%;
                }
            }
        }
    .line {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        @media (max-width: 550px){
            display: none;
        }
    }
    .linea {
        width: 30%;
        margin-left: 110px;
        margin-bottom: 10px;
        margin-top: 40px;
        @media (min-width: 550px){
            display: none;
        }
    }
    .backbutton {
        float: left;
        display: block;
        padding: 10px 40px;
        border: 0;
        background-color: $brown1;
        color: white;
        margin: 0;
        text-decoration: none;
    }
    .nextbutton {
        float: right;
        display: block;
        padding: 10px 40px;
        border: 0;
        background-color: $brown1;
        color: white;
        float: right;
        text-decoration: none;
    }
}

#products {
    background-color: white;
    padding: 40px 60px 20px 60px;
    margin-top: 10px;
    @media (max-width: 550px){
        padding: 10px;
    }
    hr {
        background-color: $brown1;
    }
    .protitle {
        height: 35px;
        margin-top: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #e8e4da;
        h2 {
            margin: 0;
            padding: 0;
            font-weight: bold;
            letter-spacing: 3px;
            @include fontsize(14);
            @media (min-width: 550px){
                float: left;
            }
        }
        h5 {
            padding: 0;
            color: #cdcdcd;
            @include fontsize(13);
            @media (max-width: 550px){
                display: block;
            }
            @media (min-width: 550px){
                float: right;
            }
        }
    }
    .productlist {
        padding-bottom: 430px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e8e4da;
        @media (max-width: 550px){
            padding-bottom: 450px;
        }
        .mainimage {
            width: 70%;
            display: inline-block;
            float: left;
            img {
                width: 100%;
            }
            @media (max-width: 550px){
                width: 100%;
                img {
                width: 100%;
                }
            }
        }
        .pro_list {
            list-style: none; 
            li {
               cursor: pointer;
           }
        img {
            float: right;
            width: 13%;
            margin: 2px;
            @media (max-width: 550px){
                width: 18.5%;
                margin: 2px;
                float: left;
            }
        }
    }
    }
    .clear{
        clear: both;
    }
    .pro_color {
        padding-bottom: 0;
        img {
            margin-top: 0;
            margin-bottom: 10px;
            @media (max-width: 550px){
                margin-left: 10px;
                margin-bottom: 30px;
                margin-top: 0;
            }
        }
        table {
            width: 100%;
            color: $brown1;
            .color {
                background-color: #f9f9f5;
            }
            .check {
                input {
                    display: none;
                    
                }
                label {
                	position: relative;
                	display: inline-block;
                	padding: 3px 3px 3px 22px;
                	cursor: pointer;
                }
                label::before {
                	position: absolute;
                	content: '';
                	top: 50%;
                	left: 0;
                	width: 14px;
                	height: 14px;
                	margin-top: -8px;
                	background: #fff;
                	border: 1px solid #ccc;
                	@media (max-width: 550px){
                	    left: 10px;
                	    top: 8px;
                	}
                }
                input[type="checkbox"]:checked + label::after {
                	position: absolute;
                	content: '';
                	top: 5px;
                	left: 3px;
                	width: 13px;
                	height: 5px;
                	border-left: 2px solid #3498db;
                	border-bottom: 2px solid #3498db;
                	-webkit-transform: rotate(-45deg);
                	transform: rotate(-45deg);
                }

            }
        }
        td {
            border: solid 1px #e8e4da;
            padding-left: 12%;
            @include fontsize(12);
            @media (max-width: 550px){
                padding-left: 8%;
                padding-right: 15px;
            }
        }
    }
    .pro_ex {
        margin-top: 0;
        @media (max-width: 550px){
            margin-top: 20px;
            margin-bottom: 0;
        }
        .priceall {
            width: 56.5%;
            float: left;
            margin-bottom: 0;
            @media (max-width: 550px){
                width: 100%;
                margin-bottom: 10px;
            }
        .pricea {
            margin-top: 0;
            border-top: 1px solid #e8e4da;
            border-bottom: 1px solid $brown2;
            .price {
                float: left;
                margin-top: 20px;
                margin-left: 0;
                display: inline-block;
                @media (max-width: 550px){
                    margin-top: 10px;
                    margin-left: 10px;
                }
            }
            .price_a {
                display: inline-block;
                margin-left: 80px;
                padding-top: 10px;
                font-style: Italic;
                @include fontsize(15);
                @media (max-width: 550px){
                    @include fontsize(20);
                }
                span {
                    color: #e80f66;
                    @include fontsize(25);
                }
            }
        }
        .priceb {
            margin-top: 10px;
            padding-bottom: 0;
            border-bottom: 1px solid #e8e4da;
            @media (max-width: 550px){
                margin-top: 5px;
                padding-bottom: 50px;
            }
            .price {
                float: left;
                margin-top: 15px;
                margin-left: 0;
                display: inline-block;
                @media (max-width: 550px){
                    margin-top: 10px;
                    margin-left: 10px;
                }
            }
            .price_b {
                display: inline-block;
                margin-left: 40px;
                margin-bottom: 0;
                padding-bottom: 0;
                @media (max-width: 550px){
                    float: left;
                }
            }
        input {
            display: inline-block;
            margin-left: 20px;
            margin-top: 0;
            width: 150px;
            border-radius: 0;
            @media (max-width: 550px){
                width: 120px;
                float: right;
            }
        }
    }
    }
    .add_to_cart {
        width: 38%;
        margin-left: 30px;
        display: inline-block;
        @media (max-width: 550px){
            width: 60%;
            margin-left: 50px;
        }
    }
}

    .pro_setsumei {
        margin-top: 50px;
        color: $brown1;
        @media (max-width: 550px){
            margin-top: 30px;
        }
        h2 {
            @include fontsize(20);
            padding-bottom: 20px;
            font-weight: bold;
            border-bottom: 1px solid $brown1;
            @media (max-width: 550px){
                @include fontsize(20);
                font-weight: bold;
            }
        }
        h6 {
            @include fontsize(16);
            font-weight: bold;
        }
        p {
            @include fontsize(14);
            color: black;
        }
        table {
            width: 100%;
            color: $brown1;
        }
        td {
            border: solid 1px #e8e4da;
            padding-left: 2%;
            @include fontsize(12)
        }
        .color {
            background-color: #f9f9f5;
            padding-left: 10%;
            @media (max-width: 550px){
                width: 50px;
            }
        }
    }
}
    .kanren {
        .line {
            width: 100%;
            margin-top: 40px;
            margin-bottom: 20px;
            @media (max-width: 550px){
                display: none;
            }
        }
        .linea {
            width: 30%;
            margin-left: 100px;
            margin-top: 20px;
            margin-bottom: 10px;
            @media (min-width: 550px){
                display: none;
            }
        }
        .kanren_list {
        width: 100%;
        display: inline-block;
        margin-top: 10px;
        margin-left: 0;
        li {
            width: 30.8%;
            display: inline-block;
            list-style: none;
            padding-top: 10px;
            padding-left: 15px;
            margin: 4px 0 0 0;
            background-color: white;
            @media (max-width: 550px){
                width: 47.5%;
                margin-bottom: 1px;
                padding-top: 5px;
                padding-left: 4px;
                padding-bottom: 0;
            }
            p {
                width: 90%;
                @include fontsize(12);
                margin: 0;
                padding-bottom: 10px;
            }
            img {
                width: 90%;
                @media (max-width: 550px){
                    width: 98%;
                }
            }
        }
    }
}