html {
  font-size: 62.5%; }

/*********************************/
body {
  background: #f9f8f6; }

header #header {
  padding-top: 20px;
  padding-bottom: 20px; }
header #logo {
  padding-top: 10px;
  margin-bottom: 10px;
  width: 70%; }
  @media (max-width: 550px) {
    header #logo {
      margin-left: 110px;
      width: 100px; } }
header .menu_li_sp {
  position: absolute;
  top: 60px;
  right: 0;
  background: white;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  z-index: 100;
  display: none; }
  header .menu_li_sp li {
    list-style: none;
    margin: 0;
    padding: 0; }
    header .menu_li_sp li a {
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #eee; }
@media (min-width: 550px) {
  header #icon_list {
    padding-top: 35px;
    float: right; } }
@media (max-width: 550px) {
  header #fb_icon {
    margin-left: 35%; } }
@media (max-width: 550px) {
  header #insta_icon {
    margin-left: 5px; } }
header #menu_icon {
  cursor: pointer;
  margin-left: 5px; }
  @media (min-width: 550px) {
    header #menu_icon {
      display: none; } }
@media (min-width: 550px) {
  header .menu_li_sp {
    display: none; }
  header .menu_li_pc {
    display: inline-block;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 20px;
    float: right; }
    header .menu_li_pc li {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding-left: 15px; }
  header #fb_icon {
    float: right;
    width: 30%;
    padding-left: 10px; }
  header #insta_icon {
    float: right;
    width: 30%;
    padding-left: 10px; } }
@media (max-width: 550px) {
  header .menu_li_pc {
    display: none; } }

#search {
  background-color: white;
  padding: 5px; }
  #search .search_img {
    margin-top: 15px;
    margin-left: 15px; }
    @media (max-width: 550px) {
      #search .search_img {
        display: none; } }
  #search form {
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 0; }
    #search form .search_form input {
      width: 90%;
      height: 30px;
      margin-left: 2px;
      padding: 10px;
      background-color: #eeeeee;
      background-image: url("../images/top/search_icon.png");
      background-repeat: no-repeat;
      background-position: 92% 8px;
      border: 0;
      border-radius: 0;
      font-style: oblique;
      font-size: 12px;
      font-size: 1.2rem;
      color: #d9d9d9; }
      @media (max-width: 550px) {
        #search form .search_form input {
          width: 300px;
          height: 40px;
          margin-top: 15px;
          margin-left: 15px;
          background-position: 90% 15px; } }

#pagelink {
  margin-top: 10px;
  padding-top: 5px;
  height: 40px;
  background-color: #887f69;
  background-image: url("../images/top/next_icon.png");
  background-position: 95% 17px;
  background-repeat: no-repeat; }
  #pagelink .pagelink_img {
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 8px; }

#categories {
  margin-top: 10px; }
  #categories .categories_img {
    height: 25px;
    background-color: #887f69;
    background-image: url("../images/top/down_icon.png");
    background-position: 95% 17px;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 8px; }
  #categories .categories_li {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0; }
    #categories .categories_li li {
      list-style: none;
      padding-left: 10px;
      padding-top: 11px;
      padding-bottom: 11px;
      margin-top: 0;
      margin-bottom: 1px;
      background-color: white;
      background-image: url("../images/top/next_icon_gray.png");
      background-position: 95% 17px;
      background-repeat: no-repeat; }
      #categories .categories_li li a {
        color: black;
        text-decoration: none;
        font-size: 12px;
        font-size: 1.2rem; }

#about {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white; }
  #about .about_img {
    height: 27px;
    background-color: #887f69;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 8px;
    margin-bottom: 10px; }
  #about .image {
    margin-left: 10px; }
    #about .image img {
      width: 94%; }
      @media (max-width: 550px) {
        #about .image img {
          width: 50%;
          float: left; } }
  #about .about_p {
    width: 90%;
    margin-left: 10px;
    padding-bottom: 0;
    margin-bottom: 5px;
    font-size: 12px;
    font-size: 1.2rem; }
    @media (max-width: 550px) {
      #about .about_p {
        width: 40%;
        font-size: 13px;
        font-size: 1.3rem;
        margin-right: 10px;
        float: right; } }
  #about .more {
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px; }
    @media (max-width: 550px) {
      #about .more {
        margin-left: 60%;
        margin-top: 5px; } }

#shopinfo {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white; }
  #shopinfo .shopinfo_img {
    height: 30px;
    background-color: #887f69;
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 8px;
    margin-bottom: 10px; }
  #shopinfo .image {
    margin-left: 10px; }
    #shopinfo .image img {
      width: 94%; }
      @media (max-width: 550px) {
        #shopinfo .image img {
          width: 50%;
          float: left; } }
  #shopinfo .shopinfo_p {
    width: 90%;
    margin-left: 10px;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 12px;
    font-size: 1.2rem; }
    @media (max-width: 550px) {
      #shopinfo .shopinfo_p {
        width: 40%;
        font-size: 13px;
        font-size: 1.3rem;
        float: right;
        margin-right: 10px; } }
  #shopinfo .more {
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px; }
    @media (max-width: 550px) {
      #shopinfo .more {
        margin-left: 60%;
        margin-top: 5px; } }

#new_items {
  width: 100%;
  margin-top: 20px;
  margin-left: 0; }
  @media (max-width: 550px) {
    #new_items {
      margin-top: 0; } }
  #new_items .line {
    width: 100%; }
    @media (max-width: 550px) {
      #new_items .line {
        display: none; } }
  #new_items .linea {
    width: 30%;
    margin-top: 0;
    margin-left: 100px; }
    @media (min-width: 550px) {
      #new_items .linea {
        display: none; } }
  #new_items .newitems_li {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 0; }
    #new_items .newitems_li li {
      width: 30.8%;
      display: inline-block;
      list-style: none;
      padding-top: 10px;
      padding-left: 15px;
      padding-bottom: 10px;
      margin: 4px 0 0 0;
      background-color: white; }
      @media (max-width: 550px) {
        #new_items .newitems_li li {
          width: 45%;
          margin-bottom: 1px;
          padding-top: 5px;
          padding-left: 5px;
          padding-bottom: 0; } }
      #new_items .newitems_li li p {
        width: 90%;
        font-size: 11px;
        font-size: 1.1rem;
        margin: 0;
        padding-bottom: 10px; }
      #new_items .newitems_li li img {
        width: 95%; }
        @media (max-width: 550px) {
          #new_items .newitems_li li img {
            width: 95%; } }

#popular_items {
  margin-top: 20px;
  margin-bottom: 20px; }
  #popular_items .line {
    width: 100%;
    margin-bottom: 20px; }
    @media (max-width: 550px) {
      #popular_items .line {
        display: none; } }
  #popular_items .linea {
    width: 40%;
    margin-left: 100px; }
    @media (min-width: 550px) {
      #popular_items .linea {
        display: none; } }
  #popular_items .popularitems_li {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 0; }
    #popular_items .popularitems_li li {
      width: 30.8%;
      display: inline-block;
      list-style: none;
      padding-top: 10px;
      padding-left: 15px;
      padding-bottom: 10px;
      margin: 4px 0 0 0;
      background-color: white; }
      @media (max-width: 550px) {
        #popular_items .popularitems_li li {
          width: 45%;
          margin-bottom: 1px;
          padding-top: 5px;
          padding-left: 5px;
          padding-bottom: 0; } }
      #popular_items .popularitems_li li p {
        width: 90%;
        font-size: 12px;
        font-size: 1.2rem;
        margin: 0;
        padding-bottom: 10px; }
      #popular_items .popularitems_li li img {
        width: 95%; }
        @media (max-width: 550px) {
          #popular_items .popularitems_li li img {
            width: 95%; } }

#extra {
  width: 100%; }
  #extra .line {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px; }
    @media (max-width: 550px) {
      #extra .line {
        display: none; } }
  #extra .linea {
    width: 50%;
    margin-left: 80px;
    margin-bottom: 10px; }
    @media (min-width: 550px) {
      #extra .linea {
        display: none; } }
  #extra .otodoke {
    float: left;
    width: 90%;
    height: 250px;
    display: inline-block;
    background-color: white; }
    #extra .otodoke h1 {
      color: #887f69;
      font-weight: bold;
      margin: 0;
      padding: 10px;
      font-size: 16px;
      font-size: 1.6rem; }
    #extra .otodoke h2 {
      color: #887f69;
      font-weight: bold;
      margin: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      font-size: 15px;
      font-size: 1.5rem; }
    #extra .otodoke p {
      padding-top: 0;
      padding-bottom: 20px;
      padding-left: 10px;
      margin: 0; }
    #extra .otodoke img {
      padding-left: 10px;
      width: 50%;
      margin-top: 5px; }
    @media (min-width: 550px) {
      #extra .otodoke {
        width: 46.5%;
        height: 250px;
        margin: 0 2px 0 0;
        padding: 10px; } }
  #extra .kessai {
    float: left;
    width: 90%;
    height: 250px;
    display: inline-block;
    background-color: white;
    margin: 0;
    padding: 20px; }
    #extra .kessai h1 {
      color: #887f69;
      font-weight: bold;
      margin-bottom: 10px;
      padding-left: 10px;
      font-size: 16px;
      font-size: 1.6rem; }
    #extra .kessai h2 {
      color: #887f69;
      font-weight: bold;
      margin: 0;
      padding-left: 10px; }
    #extra .kessai p {
      margin: 0;
      padding-top: 5px;
      padding-bottom: 10px;
      padding-left: 10px; }
    #extra .kessai .cards {
      width: 90%;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 10px; }
    @media (min-width: 550px) {
      #extra .kessai {
        width: 46.5%;
        height: 250px;
        margin-left: 3px;
        padding: 10px; } }
    #extra .kessai h1 {
      font-size: 20px;
      font-size: 2rem; }
    #extra .kessai h2 {
      font-size: 15px;
      font-size: 1.5rem; }

footer {
  clear: both;
  margin-top: 50px;
  color: #887f69; }
  footer .pagetop_img {
    margin-left: 120px; }
    @media (min-width: 550px) {
      footer .pagetop_img {
        float: right; } }
  footer .footer_hr {
    height: 1px;
    background-color: #887f69;
    border: none; }
  footer p {
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem; }
    @media (min-width: 550px) {
      footer p {
        font-size: 12px;
        font-size: 1.2rem; } }
    footer p a {
      color: black;
      text-decoration: none;
      margin-left: 10px;
      margin-right: 10px; }
  footer .copyright {
    color: #c8c5be;
    font-size: 12px;
    font-size: 1.2rem; }

.pan {
  border: 0;
  border-radius: 2px;
  background-color: #e8e4da;
  color: #b0b0b0;
  background-image: url("../images/list/home_icon.png");
  background-repeat: no-repeat;
  background-position: 15px 12px;
  padding: 5px 5px 5px 30px;
  margin: 0; }
  .pan a {
    text-decoration: none;
    color: #887f69;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
    font-size: 1.2rem; }

.cover {
  margin-top: 10px; }
  .cover .coverpc {
    width: 100%; }
    @media (max-width: 550px) {
      .cover .coverpc {
        display: none; } }
  .cover .coversp {
    width: 100%; }
    @media (min-width: 550px) {
      .cover .coversp {
        display: none; } }

#list {
  width: 100%;
  display: inline-block;
  margin-top: 0;
  margin-left: 0; }
  #list li {
    width: 31.5%;
    display: inline-block;
    list-style: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 4px 0 0 0;
    background-color: white; }
    @media (max-width: 550px) {
      #list li {
        width: 45%;
        margin-bottom: 1px;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 0; } }
    #list li p {
      width: 90%;
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0;
      padding-bottom: 10px; }
    #list li img {
      width: 95%; }
      @media (max-width: 550px) {
        #list li img {
          width: 95%; } }
  #list .line {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px; }
    @media (max-width: 550px) {
      #list .line {
        display: none; } }
  #list .linea {
    width: 30%;
    margin-left: 110px;
    margin-bottom: 10px;
    margin-top: 40px; }
    @media (min-width: 550px) {
      #list .linea {
        display: none; } }
  #list .backbutton {
    float: left;
    display: block;
    padding: 10px 40px;
    border: 0;
    background-color: #887f69;
    color: white;
    margin: 0;
    text-decoration: none; }
  #list .nextbutton {
    float: right;
    display: block;
    padding: 10px 40px;
    border: 0;
    background-color: #887f69;
    color: white;
    float: right;
    text-decoration: none; }

#products {
  background-color: white;
  padding: 40px 60px 20px 60px;
  margin-top: 10px; }
  @media (max-width: 550px) {
    #products {
      padding: 10px; } }
  #products hr {
    background-color: #887f69; }
  #products .protitle {
    height: 35px;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e4da; }
    #products .protitle h2 {
      margin: 0;
      padding: 0;
      font-weight: bold;
      letter-spacing: 3px;
      font-size: 14px;
      font-size: 1.4rem; }
      @media (min-width: 550px) {
        #products .protitle h2 {
          float: left; } }
    #products .protitle h5 {
      padding: 0;
      color: #cdcdcd;
      font-size: 13px;
      font-size: 1.3rem; }
      @media (max-width: 550px) {
        #products .protitle h5 {
          display: block; } }
      @media (min-width: 550px) {
        #products .protitle h5 {
          float: right; } }
  #products .productlist {
    padding-bottom: 430px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e4da; }
    @media (max-width: 550px) {
      #products .productlist {
        padding-bottom: 450px; } }
    #products .productlist .mainimage {
      width: 70%;
      display: inline-block;
      float: left; }
      #products .productlist .mainimage img {
        width: 100%; }
      @media (max-width: 550px) {
        #products .productlist .mainimage {
          width: 100%; }
          #products .productlist .mainimage img {
            width: 100%; } }
    #products .productlist .pro_list {
      list-style: none; }
      #products .productlist .pro_list li {
        cursor: pointer; }
      #products .productlist .pro_list img {
        float: right;
        width: 13%;
        margin: 2px; }
        @media (max-width: 550px) {
          #products .productlist .pro_list img {
            width: 18.5%;
            margin: 2px;
            float: left; } }
  #products .clear {
    clear: both; }
  #products .pro_color {
    padding-bottom: 0; }
    #products .pro_color img {
      margin-top: 0;
      margin-bottom: 10px; }
      @media (max-width: 550px) {
        #products .pro_color img {
          margin-left: 10px;
          margin-bottom: 30px;
          margin-top: 0; } }
    #products .pro_color table {
      width: 100%;
      color: #887f69; }
      #products .pro_color table .color {
        background-color: #f9f9f5; }
      #products .pro_color table .check {
        padding-left: 15%;
        padding-top: 20px; }
        #products .pro_color table .check input {
          display: none; }
        #products .pro_color table .check label {
          position: relative;
          display: inline-block;
          padding: 3px 3px 3px 22px;
          cursor: pointer; }
        #products .pro_color table .check label::before {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          width: 14px;
          height: 14px;
          margin-top: -8px;
          background: #fff;
          border: 1px solid #ccc; }
        #products .pro_color table .check input[type="checkbox"]:checked + label::after {
          position: absolute;
          content: '';
          top: 5px;
          left: 3px;
          width: 13px;
          height: 5px;
          border-left: 2px solid #3498db;
          border-bottom: 2px solid #3498db;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
      @media (max-width: 550px) {
        #products .pro_color table {
          width: 100%;
          margin: 0;
          padding: 0; }
          #products .pro_color table .check {
            padding-left: 30%;
            padding-top: 1px; }
          #products .pro_color table .td1 {
            width: 70px; } }
    #products .pro_color td {
      border: solid 1px #e8e4da;
      padding-left: 12%;
      font-size: 12px;
      font-size: 1.2rem; }
  #products .pro_ex {
    margin-top: 0; }
    @media (max-width: 550px) {
      #products .pro_ex {
        margin-top: 20px;
        margin-bottom: 0; } }
    #products .pro_ex .priceall {
      width: 56.5%;
      float: left;
      margin-bottom: 0; }
      @media (max-width: 550px) {
        #products .pro_ex .priceall {
          width: 100%;
          margin-bottom: 10px; } }
      #products .pro_ex .priceall .pricea {
        margin-top: 0;
        border-top: 1px solid #e8e4da;
        border-bottom: 1px solid #e2ddd4; }
        #products .pro_ex .priceall .pricea .price {
          float: left;
          margin-top: 20px;
          margin-left: 0;
          display: inline-block; }
          @media (max-width: 550px) {
            #products .pro_ex .priceall .pricea .price {
              margin-top: 10px;
              margin-left: 10px; } }
        #products .pro_ex .priceall .pricea .price_a {
          display: inline-block;
          margin-left: 80px;
          padding-top: 10px;
          font-style: Italic;
          font-size: 15px;
          font-size: 1.5rem; }
          @media (max-width: 550px) {
            #products .pro_ex .priceall .pricea .price_a {
              font-size: 20px;
              font-size: 2rem; } }
          #products .pro_ex .priceall .pricea .price_a span {
            color: #e80f66;
            font-size: 25px;
            font-size: 2.5rem; }
      #products .pro_ex .priceall .priceb {
        margin-top: 10px;
        padding-bottom: 0;
        border-bottom: 1px solid #e8e4da; }
        @media (max-width: 550px) {
          #products .pro_ex .priceall .priceb {
            margin-top: 5px;
            padding-bottom: 50px; } }
        #products .pro_ex .priceall .priceb .price {
          float: left;
          margin-top: 15px;
          margin-left: 0;
          display: inline-block; }
          @media (max-width: 550px) {
            #products .pro_ex .priceall .priceb .price {
              margin-top: 10px;
              margin-left: 10px; } }
        #products .pro_ex .priceall .priceb .price_b {
          display: inline-block;
          margin-left: 40px;
          margin-bottom: 0;
          padding-bottom: 0; }
          @media (max-width: 550px) {
            #products .pro_ex .priceall .priceb .price_b {
              float: left; } }
        #products .pro_ex .priceall .priceb input {
          display: inline-block;
          margin-left: 20px;
          margin-top: 0;
          width: 150px;
          border-radius: 0; }
          @media (max-width: 550px) {
            #products .pro_ex .priceall .priceb input {
              width: 120px;
              float: right; } }
    #products .pro_ex .add_to_cart {
      width: 38%;
      margin-left: 30px;
      display: inline-block; }
      @media (max-width: 550px) {
        #products .pro_ex .add_to_cart {
          width: 60%;
          margin-left: 50px; } }
  #products .pro_setsumei {
    margin-top: 50px;
    color: #887f69; }
    @media (max-width: 550px) {
      #products .pro_setsumei {
        margin-top: 30px; } }
    #products .pro_setsumei h2 {
      font-size: 20px;
      font-size: 2rem;
      padding-bottom: 20px;
      font-weight: bold;
      border-bottom: 1px solid #887f69; }
      @media (max-width: 550px) {
        #products .pro_setsumei h2 {
          font-size: 20px;
          font-size: 2rem;
          font-weight: bold; } }
    #products .pro_setsumei h6 {
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: bold; }
    #products .pro_setsumei p {
      font-size: 14px;
      font-size: 1.4rem;
      color: black; }
    #products .pro_setsumei table {
      width: 100%;
      color: #887f69; }
    #products .pro_setsumei td {
      border: solid 1px #e8e4da;
      padding-left: 2%;
      font-size: 12px;
      font-size: 1.2rem; }
    #products .pro_setsumei .color {
      background-color: #f9f9f5;
      padding-left: 10%; }
      @media (max-width: 550px) {
        #products .pro_setsumei .color {
          width: 50px; } }

.kanren .line {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px; }
  @media (max-width: 550px) {
    .kanren .line {
      display: none; } }
.kanren .linea {
  width: 30%;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 10px; }
  @media (min-width: 550px) {
    .kanren .linea {
      display: none; } }
.kanren .kanren_list {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  margin-left: 0; }
  .kanren .kanren_list li {
    width: 30.8%;
    display: inline-block;
    list-style: none;
    padding-top: 10px;
    padding-left: 15px;
    margin: 4px 0 0 0;
    background-color: white; }
    @media (max-width: 550px) {
      .kanren .kanren_list li {
        width: 45%;
        margin-bottom: 1px;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 0; } }
    .kanren .kanren_list li p {
      width: 90%;
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0;
      padding-bottom: 10px; }
    .kanren .kanren_list li img {
      width: 90%; }
      @media (max-width: 550px) {
        .kanren .kanren_list li img {
          width: 95%; } }

/*# sourceMappingURL=sample.css.map */
